* {
    margin: 0px;
    padding: 0px;
}

body {
    padding: 10px;
}

.replies {
    margin-left: 50px;
}

.reply {
    border: 1px dotted black;
    margin: 5px;
    padding: 5px;
}

.newReply {
    margin: 10px 5px 10px 5px;
}

.thread {
    border: 2px solid black;
    padding: 5px;
    margin-bottom: 5px;
}

.id {
    font-size: 10.5px;
}

#submitNewThread {
    margin: 50px;
}

body#testui {
    margin-left: 5%;
}

body#hr {
    margin: 50px; 
    margin-top: 200px
}

#testui h2 {
    text-align: left;
}