body {
  font-family: "Open Sans", Helvetica, sans-serif;
  color: #4D5051;
}

header {
  float: left;
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
}

img {
  max-width: 100%;
  /* vertical-align: middle; */
  height: 100px;
  width: "600";
  /* float: left; */
}

#formats {
  background-color: green;
  /* display: flex; */
}

ul, #branding {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: purple;
}

li {
  float: right;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111
}

.boxes {
  display: flex;
  flex-direction: row;
  background-color: orange;
  /* display: inline-flex;
  flex-flow: wrap row;
  align-items: stretch;
  align-content: stretch;
  justify-content: flex-start;
  padding-bottom: .5em; */
  align-items: stretch;
  align-content: stretch;
  justify-content: flex-start;
  padding-bottom: .5em;
}

.box {
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, .2);
  box-sizing: border-box;
  margin: 0 1% 2em 0;
  padding: 1vw;
  font-size: 90%;
  flex: 0 0 auto;
}

#rankings {
  background-color: #c41230;;
  margin: 0;
  padding: 0;
}

#rankings h1 {
  padding-bottom: 0.35em;
  margin-bottom: 0.35em;
}

h2 {
  text-align: left;
  font-size: 1.5em;
  font-weight: 300;
}

.program-highlights {
  list-style-type: circle;
}

ul li {
  list-style-position: outside;
  margin-left: 1.15em;
}

li {
  color: #4D5051;
  text-align: left;
  font-size: 90%;
  margin: 0;
  padding: .5em 0;
  line-height: 1.65em;
}

li:first-child {
  padding-top: 0;
}

a {
  color: #c41230;
  border-bottom-color: #c41230;
  border-bottom: 1px solid #941120;
  text-decoration: none;
}

/* #career-paths {
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: flex-start;
}

.path {
  width: 300px;
  height: 400px;
  margin: auto;
} */
