/* Styles will live here. */

#title, #subtitle {
  text-align: center;
}

.chart {
  margin: 20px;
  padding: 20px;
}

#container, #more-info {
  display: flex;
  align-items: center;
  justify-content: center;
}

.chart {
  background: orange;
}

/* #container {
  background-color: red;
} */

.title {
  font-size: 24px;
  color: black;
  font-size: 40px;
  font-weight: bold;
}

.tooltip {
  position: absolute;
  text-align: center;
  padding: 10px;
  font: 12px sans-serif;
  background: lightsteelblue;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
}