* {
    min-width: 290px;
    color: #ccccff;
    background-color: #010203;
    font-family: Segoe UI, SegoeUI, Segoe WP, Helvetica Neue, Helvetica, Tahoma, Arial, sans-serif;
    line-height: 1.5;
}

#navbar {
    position: fixed;
    min-width: 290px;
    top: 0px;
    left: 0px;
    width: 330px;
    height: 100%;
    border-right: solid;
    border-color: #eeebeb;
}

article ul li p {
    margin-left: 20px;
}

code {
    font-family: 'Source Code Pro', monospace;
    background-color: #1a1b1c;
}

header {
    margin: 10px;
    text-align: center;
    font-size: 22px;
}

#main-doc header {
    text-align: left;
    margin: 0px;
    font-size: 22px;
}

#navbar ul {
    height: 88%;
    padding: 0;
    overflow-y: auto;
    overflow-x: hidden;
}

#navbar li {
    border-top: 1px solid;
    list-style: none;
    position: relative;
    width: 100%;
}

#navbar a {
    display: block;
    padding: 10px 30px;
    text-decoration: none;
    cursor: pointer;
    list-style: none;
}

#main-doc {
    position: relative;
    margin-left: 310px;
    padding: 20px;
    margin-bottom: 110px;
}

section article {
    margin: 15px;
}

section li {
    margin: 15px 0px 0px 20px;
}

table {
    width: auto;
    margin: 40px;
    margin-left: 30px;
    border-width: 1px;
    border-color: #1a1b1c;
    border-collapse: collapse;
    border-spacing: 0;
    text-align: center;
}

table td {
    border-width: 1px;
    padding: 8px;
    border-style: solid;
}

#code-snippet {
    display: block;
    text-align: left;
    white-space: pre;
    position: relative;
    word-break: normal;
    line-height: 2;
    background-color: #1a1b1c;
    padding: 15px;
    margin: 10px;
    border-radius: 5px;
}

pre {
    font-family: 'Source Code Pro', monospace;
    background-color: #1a1b1c;
    display: block;
    text-align: left;
    position: relative;
    word-break: normal;
    background-color: #1a1b1c;
    padding: 15px;
    margin: 10px;
    border-radius: 5px;
}

@media only screen and (max-width: 815px) {

    #navbar ul {
        border: 1px solid;
        height: 207px;
    }

    #navbar {
        position: absolute;
        top: 0;
        padding: 0;
        margin: 0;
        width: 100px;
        max-height: 275px;
        border: none;
        z-index: 1;
        border-bottom: 2px solid;
    }

    #main-doc {
        position: relative;
        margin-left: 0px;
        margin-top: 270px;
    }

}

@media only screen and (max-width: 400px) {

    #main-doc {
        margin-left: -10px;
    }

    code {
        font-family: 'Source Code Pro', monospace;
        margin-left: -20px;
        width: 100%;
        padding: 15px;
        padding-left: 10px;
        padding-right: 45px;
        min-width: 233px;
    }

}