body {
  font-family: Verdana;
}

#header-img {
  width: 100%;
  max-width: 200px;
  height: 100%;
  max-height: 200px;
}

#career-paths {
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: flex-start;
}

.path {
  width: 300px;
  height: 400px;
  margin: auto;
}
